.image-box {
    position: relative;
}

body {
    background-color: #6755a4
}

/*star*/
.star {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: auto;
    z-index: 100;
    cursor: pointer;
}

/* background */
.bg {
    width: 100%;
    height: auto;
    display: block;
    position: relative;
}

/*blog   */
.blog {
    position: absolute;
    top: 23vw;
    left: 25vw;
    pointer-events: none;
}

/*sttitle*/
.sttitle {
    position: absolute;
    top: 6vw;
    left: 21vw;
    pointer-events: none;
}

/*hititle*/
.hititle {
    position: absolute;
    top: 4vw;
    left: 26vw;
    pointer-events: none;
}

/*shtitle*/
.shtitle {
    position: absolute;
    top: 4vw;
    left: 36vw;
    pointer-events: none;
}


/*mytitle*/
.mytitle {
    position: absolute;
    top: 4vw;
    left: 36vw;
    pointer-events: none;
}

/*banner*/
.banner {
    position: absolute;
    top: 0vw;
    right:0vw;
    pointer-events: none;
}

/* nonemail */
.nonemail {
    position: absolute;
    top: 3.92vw;
    left: 91.1vw;
    pointer-events: none;
}

/* nonemail */
.nonhome {
    position: absolute;
    top: 9.72vw;
    left: 91vw;
    pointer-events: none;
}

/* home */
.homebutton {
    position: absolute;
    top: 9.72vw;
    left: 91vw;
    transform: none;
    z-index: 2;
    cursor: pointer;
}

/* email */
.emailbutton {
    position: absolute;
    top: 3.92vw;
    left: 91.1vw;
    transform: none;
    z-index: 2;
    cursor: pointer;
}

.MI {
    position: absolute;
    top: 26vw;
    left: 4vw;
    transform: none;
    z-index: 2;
    cursor: pointer;
}

.WIMO {
    position: absolute;
    top: 23vw;
    left: 37vw;
    transform: none;
    z-index: 2;
    cursor: pointer;
}

.SB {
    position: absolute;
    top: 25.6vw;
    left: 64vw;
    transform: none;
    z-index: 2;
    cursor: pointer;
}

/*WIWO1*/
.WIWO1 {
    position: absolute;
    top: 4vw;
    left: 34.5vw;
    pointer-events: none;
}

/*WIWO2*/
.WIWO2 {
    position: absolute;
    top: 20vw;
    left: 7vw;
    pointer-events: none;
}

/* background */
.bg2 {
    width: 100%;
    height: auto;
    display: block;
    position: relative;
}


/* Jan2026button */
.Ja2B {
    position: absolute;
    top: 20vw;
    left: 8vw;
    transform: none;
    z-index: 2;
    cursor: pointer;
}

/* Feb2026button */
.Fe2B {
    position: absolute;
    top: 20vw;
    left: 37vw;
    transform: none;
    z-index: 2;
    cursor: pointer;
}

/* March2026button */
.Ma2B {
    position: absolute;
    top: 20vw;
    left: 70vw;
    transform: none;
    z-index: 2;
    cursor: pointer;
}

/*emailuback*/
.emailuback {
    position: absolute;
    top: 24vw;
    left:47vw;
    pointer-events: none;
}

/*emailmeat*/
.emailmeat {
    position: absolute;
    top: 7vw;
    left:14vw;
    pointer-events: none;
}

/*gmail*/
.gmail {
    position: absolute;
    top: 5vw;
    left:41vw;
    pointer-events: none;
}

/*email*/
.email {
    position: absolute;
    top: 12vw;
    left: 4vw;
    pointer-events: none;
}

/*goldstar*/
.goldstar {
    position: absolute;
    top: 0vw;
    left: 0vw;
    width: 200px;
    height: auto;
    pointer-events: none;
}

/* emailbuttonstar */
.emailbuttonstar {
    position: absolute;
    top: 0.6vw;
    left: 90.5vw;
    transform: none;
    z-index: 2;
    cursor: pointer;
}

/* homebuttonstar */
.homebuttonstar {
    position: absolute;
    top: 5.5vw;
    left: 90.5vw;
    transform: none;
    z-index: 2;
    cursor: pointer;
}

/* nonstar */
.nonstar {
    position: absolute;
    top: 10.5vw;
    left: 90.5vw;
    pointer-events: none;
}

/*snake*/
.snake {
    position: absolute;
    top: 20vw;
    left: 37vw;
    transform: none;
    z-index: 2;
    cursor: pointer;
}

@media (max-width: 768px) {

    /* background */
    .bg {
        width: 100%;
        height: 720px;
        display: block;
        position: relative;
    }

    /* nonehome */
    .nonhome {
        top: 14vw;
        left: 86vw;
        width: 30px;
        pointer-events: none;
    }

    /* nonemail */
    .nonemail {
        top: 14vw;
        left: 86vw;
        width: 30px;
        pointer-events: none;
    }

    /* home */
    .homebutton {
        top: 14vw;
        left: 86vw;
        width: 30px;
    }


    /* email */
    .emailbutton {
        top: 4vw;
        left: 86vw;
        width: 31px;
    }
    
    /*hititle*/
    .hititle {
        width:230px;
        top: 4vw;
        left: 16vw;
        pointer-events: none;
    }

    /*mytitle*/
    .mytitle {
        width: 170px;
        top: 4vw;
        left: 25vw;
        pointer-events: none;
    }

    /*shtitle*/
    .shtitle {
        width: 170px;
        top: 4vw;
        left: 25vw;
        pointer-events: none;
    }

    /*sttitle*/
    .sttitle {
        width: 250px;
        top:45vw;
        left: 13vw;
        pointer-events: none;
    }

    /*WIWO1*/
    .WIWO1 {
        width:170px;
        top: 4vw;
        left: 25vw;
        pointer-events: none;
    }

    /*WIWO2*/
    .WIWO2 {
        width: 240px;
        top: 30vw;
        left: 7vw;
        pointer-events: none;
    }

    /*banner*/
    .banner {
        width: 40px;
        top: 0vw;
        right:0vw;
        pointer-events: none;
    }
    
    .MI {
        top: 40vw;
        left: 21vw;
        width: 160px;
        cursor: pointer;
    }

    .WIMO {
        top: 81vw;
        left: 28vw;
        width: 140px;
        cursor: pointer;
    }

    .SB {
        top: 135vw;
        left: 28vw;
        width: 170px;
        cursor: pointer;
    }

    /* background */
    .bg2 {
        width: 100%;
        height: auto;
        display: block;
        position: relative;
    }

    /* Jan2026button */
    .Ja2B {
        top: 35vw;
        left: 13vw;
        width: 130px;
        cursor: pointer;
    }

    /* Feb2026button */
    .Fe2B {
        top: 75vw;
        left: 44vw;
        width: 140px;
        cursor: pointer;
    }

    /* March2026button */
    .Ma2B {
        top: 125vw;
        left: 15vw;
        width: 90px;
        cursor: pointer;
    }

    /*blog   */
    .blog {
        top:  40vw;
        left: 12vw;
        width:250px;
        pointer-events: none;
    }
    
    /*emailuback*/
    .emailuback {
        top: 140vw;
        left: 27vw;
        width:190px;
        pointer-events: none;
    }

    /*emailmeat*/
    .emailmeat {
        top:  35vw;
        left: 10vw;
        width:190px;
        pointer-events: none;
    }

    /*gmail*/
    .gmail {
        top:  50vw;
        left: 30vw;
        width:190px;
        pointer-events: none;
    }

    /*email*/
    .email {
        top:  85vw;
        left: 12vw;
        width:190px;
        pointer-events: none;
    }
    
    /* nonemail */
    .nonemail {
        top: 4vw;
        left: 86vw;
        width: 31px;
        pointer-events: none;
    }


    /*star*/
    .star {
        top: 0vw;
        left: 0vw;
        width: 80px;
        cursor: pointer;
    }

    /*star*/
    .goldstar{
        top: 0vw;
        left: 0vw;
        width: 80px;
        cursor: pointer;
    }

    /* emailbuttonstar */
    .emailbuttonstar {
        top: 1vw;
        left: 86.5vw ;
        width: 27px;
        cursor: pointer;
    }

    /* homebuttonstar */
    .homebuttonstar {
        top:  9vw;
        left: 86.5vw;
        width: 26px;
        cursor: pointer;
    }

    /* nonstar */
    .nonstar {
        top: 17vw;
        left: 86.5vw;
        width: 26px;
        pointer-events: none;
    }

    /*snake*/
    .snake {
        top: 74vw;
        left: 22vw;
        width:200px;
        cursor: pointer;
    }
}